<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %><br />
      <%= article.content %>
      <%= "Written by #{article.author} at #{article.created_at.strftime('%F')}" %>
    </li>
  <% end %>
</ul>